.btns {
display: flex;
justify-content: space-around;
}

.dates-info {
    overflow-y: scroll; 
    height: 300px; 
    display: flex; 
    justify-content: space-around; 
    align-items: baseline;
}

.unavailable {
    overflow-y: scroll; 
    height: 300px; 
    width: 30%;
}

.inputsDate, .inputs-dop {
    width: 600px;
}

.news-feetback {
    display: flex;
    justify-content: space-around; 
    margin-top: 5%;
    align-items: flex-start;
}

.form-news {
    width: 500px;
    border-width: 3px 3px 1.5px;
        border-style: solid;
        border-color: #FF5CB8;
}

.feetback-filter{
    display: flex;
    flex-direction: column;
    border-width: 3px 3px 1.5px;
    border-style: solid;
    border-color: #FF5CB8;
    width: 500px;
    min-height: 335.77px;
}

.number {
    display: flex;
    flex-direction: column;
}

.news-body {
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.feedback-ans{
    width: 100%;
}

.adminAddBtn {
    border-radius: 8px;
    border: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #660038 0%, #CC0070 35%, #FF5CB6 100%);
    color: #EFF1F3;
    /* 1px solid transparent; */
    font-size: 1em;
    cursor: pointer;
    width: 300px;
    height: 100px;
    transition: border-color 0.25s;
    margin: 5%;
}


.adminAddBtn:hover{
    border-color: #FF5CB8;
    filter: drop-shadow(0 0 2em #FF5CB8);
}

.adminDownloadBtn {
    border-radius: 8px;
    border: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #660038 0%, #CC0070 35%, #FF5CB6 100%);
    color: #EFF1F3;
    /* 1px solid transparent; */
    font-size: 1em;
    cursor: pointer;
    width: 20%;
    height: 50px;
    transition: border-color 0.25s;
    margin: 5%;
}

@media only screen and (max-width: 450px) {
    .btns, .dates-info, .news-feetback {
        flex-direction: column;
    }

    .unavailable, .inputsDate, .form-news, .feetback-filter {
        width: 100%;
    }

    .form-news {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .all-anketas, .number {
        display: none;
    }

    .feedbacks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
    }

    .dates-info{
        height: 600px;
    }

    :where(.css-fpg3f5).ant-input:placeholder-shown {
        width: 40%;
    }

    .feedback-ans{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}